[submodule "docstore"]
	path = moosex-storage-dbi-pgdoc
	url = git@github.com:theslava/moosex-storage-dbi-pgdoc.git
[submodule "trait-subclass"]
	path = moosex-storage-trait-subclass
	url = git@github.com:theslava/moosex-storage-trait-subclass.git
